@model PerfectPlacement.Models.ApplyViewModel
@{
	ViewBag.Title = "Apply For a Job";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
	ViewBag.ShowFooterCallout = false;
}
<script type="text/javascript">
	$(document).ready(function() {
		$("#btnBrowse").click(function() {
			getFile();
		});
		$("#file").change(function() {
			sub(this);
		});
	});
 function getFile(){
 	$("#file").click();
 }
 function sub(obj){
    var file = obj.value;
    var fileName = file.split("\\");
    $("#filename").html(fileName[fileName.length-1]);
    //document.getElementById("yourBtn").innerHTML = fileName[fileName.length-1];
    //document.myForm.submit();
    //event.preventDefault();
  }
</script>

<section id="content-container" class="clearfix">
   <div id="main-wrap" class="clearfix">
   
   		<aside class="sidebar left-sidebar">
               <div class="sidebar-widget">
               		<p class="widget-heading">Helpful Links</p>
                  <ul class="custom-menu">
                  <li><a href="/jobs">Find a Job</a></li>  
                  <li><a href="/docs/PPS APPLICATION ENGLISH.docx">Application (English) 1.1mb</a></li>
                  <li><a href="/docs/PPS APPLICATION SPANISH.docx">Aplicación (Español) 1.1mb</a></li>
                  <li><a href="/docs/PPS Timesheet.xls">Timecard 1.1mb</a></li>
               
                  </ul>
               </div>
               <div class="sidebar-widget">
	               <p class="widget-heading">Connect With Us</p>
	               <ul class="social_icons">
	                  <li><a href="http://www.facebook.com/PerfectPlacementServices" class="facebook">Facebook</a></li>
	                  <li><a href="mailto:solutions@pps-az.com" class="email">Email</a></li>
	               </ul>
	            </div>
               
            </aside>
   
   
   		<div class="page_content_right sub-content">
   			<h4>Apply For a Job</h4>
   			<p>Submit your résumé using the form below. Fields marked with "*" are required.</p>
  	@if (!ViewData.ModelState.IsValid) { 
  		<div class="notification error closeable">
         <p>Error processing application. Please correct and retry.</p>
         <div style="padding: 10px;">
         	@Html.ValidationSummary(true)
 		</div>
      </div>
  	}
   	@using (Html.BeginForm("SubmitApplication", "apply", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastName)
        </div>
        <div class="editor-label">
            <label for="file" accesskey="U"><span>*</span> Résumé</label>
        </div>
        <div class="editor-field">
        	<input id="btnBrowse" type="button" class="submit tt-form-submit" value="Browse..."  />&nbsp;&nbsp;<span id="filename"></span>
        	<input type="file" name="file" id="file" style="position: absolute; left: -1000px;" />
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EmailAddress)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Message)
        </div>
        <br/>
        <p>
            <input type="submit" class="submit tt-form-submit" value="Submit Résumé" />
        </p>
    </fieldset>
}
   	</div>
   	<!-- End Page Content -->
   	
   	
   	
   </div>
   <!-- END main-wrap -->   
</section>
<!-- END content-container -->