<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
   @Html.Partial("_Head")
   <body>
      @Html.Partial("_TopToolbar")
      
      @Html.Partial("_Header")
      
      @RenderBody()

      @Html.Partial("_FooterCallout")
      
      @Html.Partial("_Footer")
      
      <script type="text/javascript" src="/content/theme/js/custom-main.js"></script>
      <script type="text/javascript" src="/content/theme/js/jquery.prettyPhoto.js"></script>
      <script type="text/javascript" src="/content/theme/js/slides.min.jquery.js"></script>
      <script type="text/javascript" src="/content/theme/js/jquery.cycle.all.min.js"></script>
      <script type="text/javascript" src="/content/theme/js/jquery.easing.1.3.js"></script>
      <script type="text/javascript">
         jQuery(document).ready(function(){
         	jQuery('#slides').slides({
         		  preload: false,
         		  //preloadImage: 'preloader url here',
         		  autoHeight: true,
         		  effect: 'fade',
         		  slideSpeed: 500,
         		  play: 7000,
         		  randomize: false,
         		  hoverPause: false,
         	  });
         });
      </script>
   </body>
</html>
